<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Tab Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
      </ion-header>
      <input v-bind:value="something" />
      <input v-model="something" />

      <h2>{{something}}</h2>

      <!-- <p v-on:click="someClick()">Klik Saya</p> -->
      <!-- <p @click="someClick()">Klik Saya</p> -->
      <button @click="someClick()">Klik GET API</button>

      <ul>
        <li v-for="(orang, index) in listOrang" :key="index">
          {{index + 1}}
          {{orang.nama}}
          {{orang.status.kerja === true ? 'Lagi Kerja' : 'Tidak Bekerja'}}
          <strong v-if="orang.status.kerja === true">Lagi Kerja</strong>
          <strong v-if="orang.status.kerja === false">Tidak Bekerja</strong>
        </li>
      </ul>

      <ul>
        <li v-for="todo in todos" :key="todo.id">
          {{todo.title}}
          {{todo.completed ? 'Sudah Selesai' : 'Belum Selesai'}}

        </li>
      </ul>

      <ion-list>
        <ion-item v-for="(orang, index) in listOrang" :key="index">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
          </ion-avatar>
          <ion-label>
            <h2>{{orang.nama}}</h2>
            <p>Orang ke {{index + 1}}</p>
          </ion-label>
          <ion-icon color="success" v-if="orang.status.kerja" slot="end" :icon="checkmarkCircle" />
          <ion-icon color="danger" v-if="!orang.status.kerja" slot="end" :icon="closeCircle" />
        </ion-item>
      </ion-list>
      <!-- <ExploreContainer name="Tab 1 page" /> -->
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonList, IonItem, IonLabel, IonIcon } from '@ionic/vue';
import { checkmarkCircle, closeCircle } from 'ionicons/icons';

// import ExploreContainer from '@/components/ExploreContainer.vue';
import axios from 'axios'

export default defineComponent({
  name: 'Tab1Page',
  components: { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonList, IonItem, IonLabel, IonIcon },
  setup() {
    return {
      checkmarkCircle, closeCircle
    }
  },
  data() {
    return {
      something: 'Dummy',
      listOrang: [
        {
          nama: 'Jojo',
          status: { kerja: true }
        },
        {
          nama: 'Aji',
          status: { kerja: true }
        },
        {
          nama: 'Alda',
          status: { kerja: false }
        }
      ],
      todos: []
    }
  },
  methods: {
    someClick() {
      console.log('Clicked')
      axios.get('https://jsonplaceholder.typicode.com/todos')
        .then((resp) => {
          console.log(resp);
          this.todos = resp;
        }).catch((err) => {
          console.log(err)
        })
    }
  },
  mounted() {
    console.log('Started Mounted')
  },

});
</script>
